#assistant{
	max-width: 300px;
  margin-top: 200px;
  margin-left: -400px;
  z-index: 2;
  position: absolute;
}

.bubble {
  margin-left: -300px;
  position: absolute;
  z-index: 3;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 300px;
  background: #F95633;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #F95633;
  border-right: 12px solid transparent;
  border-top: 12px solid #F95633;
  border-bottom: 20px solid transparent;
  left: 150px;
  bottom: -24px;

}
