/* Add a black background color to the top navigation */
  

  .img_logo_2 {
  width: 150px;
  position: absolute;
  left:0;
  margin-left: 10px;
  margin-top : -20px;
  }

  .img_logo_3 {
  width: 150px;
  position: absolute;
  left:0;
  margin-left: 10px;
  top : 0px;
  }
  .img_logo {
  width: 150px;
  margin-left: 10px;
  margin-top : 5px;
  }
  .img_mic {
    position: absolute;
    right: 8%;
    top: 0px;
    text-align: center;
    margin-right: 30px;
    width: 30px;
    height: 30px;
    margin-top : 10px;
  }
  .heure {
    position: absolute;
    right: 3%;
    top: 8px;
    text-align: center;
    width: 70px;
    height: 35px;
    background-color : #F95633;/* #FFB30F; */
    font-family: Verdana;
    font-size: 22px; 
    border-radius: 10px;
  }
  .tete{
    background-color: rgba(211,211,211, 0.5);
    border: none;
    -moz-border-radius : 75px;
      -webkit-border-radius : 75px;
      border-radius : 75px;
    margin-top: 50px;
    width: 440px;
  
    
  }
  
  .button {
    font-size : 50px;
      color:#ff5733;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
  }
  
  .button:hover {
      background-color: grey; /* Green */
      color: white;
  }
  
  .back{
    color: black;
    background-color: transparent;
  
  }
  
  .navbar {
    background-color: rgba( 40,42,54, 0.9);
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 0;
    top: 0px;
  
  }
  
  .topnav {
    position: relative;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ff5733;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
    .img_mic {
      right: 12%;
    }
    .topnav-centered{
      font-size:2px;
      padding-top: 10px;
      text-align: center;
      align-content: center;
    }
    .topnav-centered a{
      font-size:20px;
      text-align: center;
      align-content: center;
    }
    .img_logo {
      position: absolute;
      padding-top: 8px;
      top: 0;
      margin-left: 2%;
      width: 90px;
      padding-left: 0;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }
  
