body{
	font-size: 20px;
}
.description_accueil{
	margin-top: 5%;
	width: 100%;
	height: 100px;
	font-size: 35px;
	text-align: center;
	font-family: Verdana;
}
.informations_accueil{
	display: flex;
	height: 100%;
	line-height: 2em;
	margin-top: 0px;
	font-family: Verdana;
	margin-left: 40px;
	padding: 5px 5px 5px 5px; 
}
#titre_informations{
	font-size: 40px;
	text-align: center;
}
#introduction #accroche{
	padding: 10px 50px 20px;

}
.text_strong{
	color: #F95633;
	padding-left: 7px;
	padding-right: 7px;
}
#titre_accueil{	
	display: flex;
	justify-content: center;
	
}
#image_desc{
	max-height: 800px;
	max-width: 800px;
	width: 520px;
	height: 520px;
}
