
/* Back article */
.back_fav{
  color: white;
  background-image: url(../../img/test2.jpeg);
}


/* Favoris */
.form-control{
  object-position: center;
  padding-top: 100px;
  width: 640px;
  text-align: center;
}
.page-title{
  text-align: center;
  font-family: Verdana;
}

/* Produit */
.produit{
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: rgba( 40,42,54, 0.8) ;
  -moz-border-radius : 50px;
    -webkit-border-radius : 50px;
    border-radius : 50px;
}

/*titre produit*/
.titre_pdt{
  color: rgba(251, 75, 31);
}

/* image pdt */
.img-fluid{
  padding-top: 50px;
  -moz-border-radius : 50px;
    -webkit-border-radius : 50px;
    border-radius : 10px;
}
/* Icone panier*/
.panier{
  width: 150px;
  filter: invert(100%);
}
/*Icone coeur*/
.coeur{
  width: 80px;
  filter: invert(100%);
}

/* bouton coeur */
.bouton_fav{
  background-color: transparent;
  border:none;
}

/* Bouton panier */
.bouton_pan{
  background-color: transparent;
  border:none;
}

.bouton_fav:hover{
  background-color: transparent;

}

.bouton_pan:hover{
  background-color: transparent;

}
/* overlay */
.overlay{
  display: none; 
  position: fixed; 
  z-index: 1; 
  width: 50%; 
  height: 50%; 
  font-size: 13px;
  text-align: center;
}

/* Popup */
.popup{
  margin: auto; 
  width: 60%;
  height: 10%; 
  background-color: rgba(251, 75, 31) ;
  border-radius: 10px;
  padding-left: 50px;
  

/* Fermer popup */
}
.btnClose{
  float: right;
  cursor: pointer;
}
/* Titre */
.tit-fav{
  padding-top: 50px;
  padding-left: 58%; 
  font-size: 50px;
  color: rgba(242, 239, 237) ;
  font-weight: bold;
  text-decoration: underline;
  font-family: Verdana;
}

.titre_ve{
  color: rgba(251, 75, 31);
}