
.frame{
  border: 0; width: 100%; height: 100%;
}
.tete{
  background-color: rgba(211,211,211, 0.5);
  border: none;
  -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
  margin-top: 50px;
  width: 440px;

  
}

.bgvideo {
  width: 80%;
  margin-top: 45px;
  z-index: 1;

}

@media (max-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}
.container 
 {
  width: 1400px;
  background-color: rgba(211,211,211, 0.5);
  border: none;
  -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
  background-position: top;
  border-radius: 50px;

}

.topcontainer 
 {
  position: relative;
  width: 450px;
  height: 300px;
  margin: 25px auto;
  perspective: 1000px;
  padding-top: 50px;

}

.back{
  color: black;
  background-image: url(../../img/test.jpg);
}

.navbar {
  position: fixed;
  top:0px; left:0; width: 100%; bottom: 0; border: 0 ;

}

  
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.items2{
  padding-right: 20% ;
  float: right;


}
.items1{
  padding-left: 20% ;
  float: left;
    
}
nav{
  position:relative;
  width: 120px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 7%;
 /* box-shadow: 2px 2px 50px 0px rgba(0,0,0,.4); */
}


ul>li {
  margin-top: 10px;
  /*margin-bottom: 10px;*/
}
nav li{
  height: 80px;
  left: 7px;
  border: transparent 25px solid;
  border-radius: 50%;
  position:relative;

}


.items1 nav li a{
  color: white;
  display: block;
  border-radius: 20px;
  height: 80%;
  width: 80%;
  line-height: 45px;
  /* padding-left:25%; */
  border-bottom: 1px solid rgba(0,0,0,.4);
  transition: all .3s linear;
}

.items2 nav li a{
  color: white;
  display: block;
  border-radius: 20px;
  height: 80%;
  width: 80%;
  line-height: 45px;
  border-bottom: 1px solid rgba(0,0,0,.4);
 /* right:-200px;
  margin-right: 400px;*/
  margin-left: 45px;
  transition: all .3s linear;
  transform: translateX(-100%);
}

.items2 nav li i{
  color: white;
  display:block;
  bottom: 0px;
  position:absolute;
  margin-left: -10px;
  bottom: 12px;
  text-align: right;
  /* border-radius: 20px; */
  /* height: 80%; */
  /* width: 80%; */
  line-height: 45px;
  /* margin-left: 45px; */
  /* border-bottom: 1px solid rgba(0,0,0,.4); */
  /* transition: all .3s linear; */
}


nav li:nth-child(1) a{
  background:  #ff5733;
  height: 80px;
  width: 80px;

}
nav li:nth-child(2) a{
  background:  #ff5733;
  height: 80px;
  width: 80px;
}
nav li:nth-child(3) a{
  background:  #ff5733;
  height: 80px;
  width: 80px;
}
nav li:nth-child(4) a{
  background:  #ff5733;
  height: 80px;
  width: 80px;
}
nav li:nth-child(5) a{
  background:  #ff5733;
  height: 80px;
  width: 80px;
}
nav li:nth-child(6) a{
  background:  #ff5733;
  height: 80px;
  width: 80px;
}
nav li a i{
  position:absolute;
  height: 80%;
  width: 80%;
  top: 16px;
  left:14px;
  font-size: 27px;

}
ul li a span{
  display: none;
  z-index: 0;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.items1 a:hover {
  z-index:1;
  width: 250px;
  border-bottom: 1px solid rgba(0,0,0,.5);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
}
.items1 ul li:hover a span{
  padding-left: 30%;
  display: block;
}
.items2 a:hover {
  z-index: 1;
  width: 250px;
  border-bottom: 1px solid rgba(0,0,0,.5);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.3);


}
.items2 i:hover{
  cursor: pointer;
}
.items2 ul li:hover a span{
  left: 80%;
  position: relative;
  display: block; 
  padding-left: 100px;
  /* padding-inline-end: 100px; */
  transform: translate(-100%);
}



.rotator {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 55%;
  height: 150px;
  transform-style: preserve-3d;
  animation: roter 17s linear infinite;
}
.rotator:hover {
  animation-play-state: paused;
}
@keyframes roter {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.items {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 2px solid #333;
}
.items:hover img {
  transform: scale(1.2);
}
.items img {
  height: 100%;
  width: 100%;
  transition: all 3s ease;
}
.items:first-child {
  transform: rotateY(calc(40deg * 1)) translateZ(300px);
}
.items:nth-child(2) {
  transform: rotateY(calc(40deg * 2)) translateZ(300px);
}
.items:nth-child(3) {
  transform: rotateY(calc(40deg * 3)) translateZ(300px);
}
.items:nth-child(4) {
  transform: rotateY(calc(40deg * 4)) translateZ(300px);
}
.items:nth-child(5) {
  transform: rotateY(calc(40deg * 5)) translateZ(300px);
}
.items:nth-child(6) {
  transform: rotateY(calc(40deg * 6)) translateZ(300px);
}
.items:nth-child(7) {
  transform: rotateY(calc(40deg * 7)) translateZ(300px);
}
.items:nth-child(8) {
  transform: rotateY(calc(40deg * 8)) translateZ(300px);
}
.items:nth-child(9) {
  transform: rotateY(calc(40deg * 9)) translateZ(300px);
}

.row
{
  width: 125%;
  padding: 10px;
}
.column {
  margin:30px;
  background-color:rgba(0,0,0,.2);
  border-radius: 15px;
  align-self: center;
  width: 20%;
  padding: 75px;

}

.navtext {
  left: 15px;
  color: white;
  font-size: 25px;
  text-align: center;
  box-shadow:inset 0px 0px 0px 2px rgba(255,255,255,.5);
  background-color: rgba(251,75,31,255);
}
