

.back{
	padding-top: 50px;
	color: white;
	background-image: url(../../img/test.jpg);
}

.back_fav{
	color: white;
	background-image: url(../../img/test2.jpeg);
}



.form-control{
	object-position: center;
	width: 640px;
	text-align: center;
}
.page-title{

	text-align: center;
	font-family: Verdana;
}
.desc{
	text-align: justify;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	color:white;
}

.page-title{
	color: white;
	font-size: 50px;
}

.text{
	color:white;
	font-size: 15px;
}

