
/* Container*/
.container 
 {
  width: 1000px;
  border: none;
  padding-right: -500px;
  -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
  margin-top: 50px;
  background-position: top;
  margin-top: 50px;
  
}

/* Fond */
.back{
  color: white;
  background-image: url(../../img/test.jpg);
}

/* Fond de l'article */
.back_fav{
  color: white;
  background-image: url(../../img/test2.jpeg);
}

/* Navbar */
.navbar {
  background-color: rgba( 40,42,54, 0.9);

}
/* Propos */
.container_propos{
  width: 1000px;
  padding-right: -500px;
  margin-top: 50px;
  background-position: top;
  text-align: justify;
}

/* Logo A Propos */

.logo_ap{
  border: none;
  padding-top: 200px;
    width: 500px;
}

/* Texte */
.apropos{
  text-align: justify;
  font-family: Verdana;
  color: white;
  font-size: 13px;
  font-weight: bold;
  background-color: rgba( 40,42,54, 0.6) ;
  -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    border-radius : 5px
}

.page-title{
  padding-top: 50px;
  color: white;
}










  
