.moncontainer 
 {
  margin-top: 100px;
  margin-right:400px;
   width: 1200px;



}


.back{
	color: black;
	background-image: url(../../img/test.jpg);
}

.row
{
  width: 125%;
  padding: 10px;
}
.column {

  margin:30px;
  background-color:rgba(10,10,10, 0.5);
  box-shadow: 10px 5px 5px grey;
  align-self: center;
  padding: 75px;


}


.navtext {
  left: 15px;
  color: white;
  font-size: 25px;
  text-align: center;
  box-shadow:inset 0px 0px 0px 2px rgba(255,255,255,.5);
  background-color: rgba(251,75,31,255);
}


.fa-user{
  color: rgba(255,255,255,.5);
}
.fa-user:hover{
  color: rgba(251,75,31,255);
}

.fa-info{
  color: rgba(255,255,255,.5);
}
.fa-info:hover{
  color: rgba(251,75,31,255);
}

.fa-home{
  color: rgba(255,255,255,.5);
}
.fa-home:hover{
  color: rgba(251,75,31,255);
}

.fa-shopping-basket{
  color: rgba(255,255,255,.5);
}
.fa-shopping-basket:hover{
  color: rgba(251,75,31,255);
}

.fa-camera{
  color: rgba(255,255,255,.5);
}
.fa-camera:hover{
  color: rgba(251,75,31,255);
}

.fa-heart{
  color: rgba(255,255,255,.5);
}
.fa-heart:hover{
  color: rgba(251,75,31,255);
}
.fa-shopping-bag{
  color: rgba(255,255,255,.5);
}
.fa-shopping-bag:hover{
  color: rgba(251,75,31,255);
}