:root {
  --carribean-green: rgba(251, 75, 31, 0.7);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.frame {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}
.bg_img {
  z-index: -2;
  position: fixed;
  filter: blur(2px);
  width: 100%;
  webkit-filter: blur(2px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_img img {
  z-index: -3;
  width: 100%;
}
body {
  /* padding-top: 130px; */
}
.container {
  /* top: 10px; */
  /* margin: 0 auto; */
  width: 100%;
  /* padding-bottom: 140px; */
}
.video-container {
  z-index: 2;
  display: grid;
  padding: 20px;
  width: 90%;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  justify-content: center;
  /* flex-wrap: wrap; */
}
.video-container .video {
  height: 15rem;
  width: 18rem;
  margin: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 1rem;
}

.video-container .video img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  outline: none;
  border: none;
  cursor: pointer;
}
.video-container .video img:hover {
  transition: 0.3s linear;
  transform: scale(1.1);
}
.video-container .video .active:hover {
  transition: none;
  transform: translate(-50%, -50%) scale(0.7);
}

.video-card:hover .product-btns {
  opacity: 1;
}

.product-btns {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.btn-cart,
.btn-buy {
  background: transparent;
  border: 1px solid rgb(32, 32, 32);
  padding: 0.5rem 0;
  width: 50px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}
.btn-cart {
  background: rgb(32, 32, 32);
  color: white;
}
.btn-cart:hover {
  background: var(--carribean-green);
}
.btn-buy {
  background: white;
}
.btn-buy:hover {
  z-index: 4;
  background: var(--carribean-green);
  color: rgb(255, 255, 255);
}

/* **************************************** share option  */

.login-box {
  display: flexbox;
  position: relative;
  top: 100%;
  left: 50%;
  width: 90%;
  margin-top: 13%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(231, 225, 225, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 40%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(27, 26, 26);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(27, 26, 26);
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(27, 26, 26);
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgba(251, 75, 31, 0.7);
  font-size: 12px;
}

.login-box form a {
  position: relative;
  left: 60%;
  bottom: 110px;
  display: inline-block;
  padding: 10px 20px;
  color: rgba(255, 123, 0, 0.7);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: rgb(255, 123, 0);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(255, 136, 0), 0 0 25px rgb(255, 136, 0),
    0 0 50px rgb(255, 136, 0), 0 0 100px rgb(255, 136, 0);
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(255, 136, 0));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(255, 136, 0));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgb(255, 136, 0));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(255, 136, 0));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@media screen and (max-width: 992px) {
  .login-box form a:first-child {
    position: absolute;
  }
  .login-box form a {
    margin-top: 5px;
    padding-right: 15px;
    font-size: 85%;
    left: 5%;
    /* width: 10px; */
    bottom: 15%;
  }
  .login-box .user-box input {
    width: 100%;
  }

  .login-box .user-box label {
    font-size: 15px;
  }

  .video-container {
    text-align: center;
    padding-left: 15%;
  }
  .login-box {
    margin-top: 25%;
  }
}
