
/*--- body ---*/
body
{
  color: rgba(61, 60, 55, 0.8);
  background-image: url(../../img/test.jpg);
}

.body
{
  margin-top:6em;
}

.tableau
{
  background-color: rgba(61, 60, 55, 0.8);
  margin-left:12em;
  margin-right:2em;
}

caption
{
  font-size: 4em;
  margin-left:4em;
  margin-right:2em;
  color: rgba(251, 75, 31, 0.8);
  margin-bottom: 1em;
  background-color: rgba(61, 60, 55, 0.8);
}

.titre_colone
{
  color: rgba(251, 75, 31, 0.8);
  font-size: 2em;
  font-weight: 900;
}

.ligne
{
  margin-bottom: 1em;
}

.nom_produit
{
  color: rgba(248, 246, 239, 0.8);
  margin-left:4em;
  margin-right:6em;
  float: left;
  font-size: 1.5em;
  font-weight: 900;
}

.prix
{
  color: rgba(248, 246, 239, 0.8);
  margin-right:2em;
  float: left;
  font-size: 1.5em;
  font-weight: 900;
}

.quantite
{
  color: rgba(248, 246, 239, 0.8);
  margin-left:2em;
  margin-right:2em;
  float: left;
  font-size: 1.5em;
  font-weight: 900;
}

.sous-total
{
  color: rgba(248, 246, 239, 0.8);
  margin-left:2em;
  margin-right:6em;
  float: left;
  font-size: 1.5em;
  font-weight: 900;
}

.photo_article
{
  min-width: 5em;
  max-width: 8em;
  min-height: 5em;
  max-height: 8em;
  margin-right:6em;
  float: left;

  border:1px solid #9FC6FF;
  padding:5px;
  /*arrondir les coins en haut à gauche et en bas à droite*/
  -moz-border-radius:10px 0;
  -webkit-border-radius:10px 0;
  border-radius:10px 0;
}

.icone_coeur
{
  /*background: url(images/coeur_vide.png);*/
  margin-left:2em;
  min-width: 2em;
  max-width: 3em;
  min-height: 2em;
  max-height: 3em;
  float: left;
}

.icone_poubelle
{
  min-width: 2em;
  max-width: 3em;
  min-height: 2em;
  max-height: 3em;
  float: left;
}

.total
{
  margin-top: 2em;
  margin-left:10em;
  color: rgba(248, 246, 239, 0.8);
  font-size: 2em;
  float: right;
  font-weight: 900;
}

.prix_total
{
  margin-top: 2em;
  margin-left: 2em;
  color: rgba(251, 75, 31, 0.8);
  font-size: 2em;
  font-weight: 900;
  float: right;
}

.commander
{
  margin-top: 2em;
  margin-left: 2em;
  color: rgba(251, 75, 31, 0.8);
  font-size: 2em;
  float: right;
}



h3
{
  color:white;
  margin-left:6em;
  margin-right:6em;
  float: left;
}

h1
{
  color:white;
  margin-left:10em;
  float: left;
}

.fav{
    position: relative;
    float: right;
    color: var(--carribean-green);
    cursor: pointer;
    transform: translateX(-100%);
    /* left: 40%;     */
    top: 10px;
    left: 15px;

}

span
{
  float: right;
  float: left;
}

.moins
{
  float: left;
}

.plus
{
  float: left;
}
