/* code inspiré par la source : liquor store master https://colorlib.com/preview/#liquorstore */

/* info ++ 
  @media -> associe un ensemble d'instructions imbriquées selon une condition
  le voir comme une sorte de if(condi) -> cet affichage
*/


/*--- body ---*/
body
{
  color: black;
  background-image: url(../../img/test.jpg);
}


/*--- Titre h3 ---*/
h3{
text-align: center;
margin-top: 0;
margin-bottom: 0.5rem;
font-size: 1.75rem;
line-height: 1.5;
font-weight: 900;}

.titre
{
  color: rgba(248, 246, 239, 0.8);
}


/*--- alignement horizontale des elements ---*/
.alignement-element {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;}



/*--- categorie ---*/
.categorie {
  padding: 6em 0;
  position: relative;}



/*--- container ---*/

/*container 1*/
.container-1{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;}

/* écartement entre les differentes catégorie*/
@media (min-width: 576px) {
  .container-1 {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container-1 {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container-1 {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container-1 {
    max-width: 1140px; } }

  
@media (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 60.33333%; }}

@media (min-width: 992px) {
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; } }



/*--- image ---*/
.sort .img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  z-index: 0; }
  .sort .img:after {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    content: '';
    border: 6px solid #b7472a;
    z-index: -1;
    border-radius: 50%;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease; }
  .sort .img:hover:after {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-color: rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.4); }


.img,
.img-2,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
