@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
/* https://www.youtube.com/watch?v=ZI41tLLxNak&ab_channel=GeekProbin */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: hsl(210, 17%, 98%);
    --carribean-green: rgba(251, 75, 31, 0.7);
    --gray: #ededed;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}
/* ///---------- gb-img */
.bg_img{
    z-index: -2;
    position:fixed;
    filter: blur(2px);
    width: 100%;
    webkit-filter: blur(2px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg_img img{
    z-index: -3;
    width: 100%;
}
/* ***************************** ALERT MESSAGE BOX*/

.alert{
    background: #bbff9b;
    padding: 15px 35px;
    min-width: 420px;
    position:fixed;
    right: 0;
    top: 80px;
    border-radius: 4px;
    border-left: 8px solid #7bee10;
    overflow: hidden;
    opacity: 0;
    z-index: 5;
    pointer-events: none;
  }
  .alert.showAlert{
    opacity: 1;
    pointer-events: auto;
  }
  .alert.show{
    animation: show_slide 1s ease forwards;
  }
  @keyframes show_slide {
    0%{
      transform: translateX(100%);
    }
    40%{
      transform: translateX(-10%);
    }
    80%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-10px);
    }
  }
  .alert.hide{
    animation: hide_slide 1s ease forwards;
  }
  @keyframes hide_slide {
    0%{
      transform: translateX(-10px);
    }
    40%{
      transform: translateX(0%);
    }
    80%{
      transform: translateX(-10%);
    }
    100%{
      transform: translateX(100%);
    }
  }
  .alert .fa-check-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(251, 75, 31, 0.7);
    font-size: 25px;
  }
  .alert .msg{
    padding: 0 20px;
    font-size: 14px;
    color: #ce8500;
  }
  .alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #b7ee6f;
    padding: 20px 18px;
    cursor: pointer;
  }
  .alert .close-btn:hover{
    background: #acec45;
  }
  .alert .close-btn .fas{
    color: #ce8500;
    font-size: 18px;
    line-height: 40px;
  }
  /* **************************** ***************  END ALERT MESSAGE BOX */


/* Utility stylings */
img{
    width: 100%;
    display: block;
}

.container_article{
    width: 88vw;
    margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title{
    font-family: 'Roboto', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
}
.lg-title{
    font-size: 2.5rem;
    font-weight: 500;
    color: #ff5733;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
}
.md-title{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.sm-title{
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}
.text-light{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
}

/* product section */
.products{
    /* background: var(--alice-blue); */
    background: transparent;
    padding: 3.2rem 0;
}

.products .text-light{
    text-align: center;
    width: 70%;
    font-size: 10px;
    margin: 0.9rem auto;
}
.product{
    margin: 2rem;
    border-radius: 50px;
    position: relative;
}
.product-content{
    background: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
}
.product-img{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    z-index: 1;
    border-radius: 50%;
    transition: background 0.5s ease;
}
.product-btns{
    display: flex;
    z-index: 4;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}
.btn-cart{
    background: black;
    color: white;
}
.btn-cart:hover{
    background: var(--carribean-green);
}
.btn-buy{
    background: white;
}
.btn-buy:hover{
    z-index: 4;
    background: var(--carribean-green);
    color: #fff;
}
.product-info{
    background: white;
    padding: 2rem;
}
.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------------------------------------------------------------------------------------------------START RATING    https://codepen.io/chrisdpratt/pen/dmyne*/
.rating span{
    color: var(--carribean-green);
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 8em;
}

.rating input {
    position: absolute;
    left: -999999px;
}

.rating label {
    display: inline-block;
    font-size: 0;
}

.rating > label:before {
    position: relative;
    font: 15px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: rgb(204, 204, 204);
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, rgb(245, 176, 2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
    color: var(--carribean-green);
    background: -webkit-linear-gradient(-45deg, var(--carribean-green) 0%, var(--carribean-green) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ------------------------------------------------------------------------------------------------END RATING */


.product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.product-name:visited {
    color: #000;
    text-decoration: none;
  }
.product-name:link {

    color: #000;
    text-decoration: none;
  }
  
.product-name:hover {
    color: #000;
    text-decoration: underline;
  }
  
.product-name:active {
    color: #000;
    text-decoration: underline;
  }
.product-price{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}
.product-price:first-of-type{
    text-decoration: line-through;
    color: var(--carribean-green);
}
.fav{
    position: relative;
    float: right;
    color: var(--carribean-green);
    cursor: pointer;
    transform: translateX(-100%);
    /* left: 40%;     */
    top: 10px;
    left: 15px;
}
.fav:hover{
    color: rgb(245, 176, 2);
}
.product-img img{
    transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform: scale(1.1);
}
.product:hover .product-img{
    background: var(--carribean-green);
}
.product:hover .product-btns{
    opacity: 1;
}
.off-info .sm-title{
    background: var(--carribean-green);
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}

/* product collection */
.product-collection{
    padding: 3.2rem 0;
    /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
}
.product-collection-wrapper{
    padding: 3.2rem 0;
    /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);  */
}
.product-col-left{

    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../../img/images/fashion-img-1.jpg") center/cover no-repeat;

}
.product-col-r-top{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../../img/images/fashion-img-2.png") center/cover no-repeat;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    padding: 2rem 1.5rem 3.2rem;
    margin: 5px;
}
.product-col-r-bottom > div:first-child{
    background: #eaa001;
}
.product-col-r-bottom > div:last-child{
    background: #ff9100;
}
.product-col-content{
    text-align: center;
    color: white;
    border-radius: 15px;
    opacity: 0.8;
    background-image: linear-gradient(60deg, rgb(241, 133, 106) 0%, rgb(107, 106, 103) 100%); 

}
.product-collection .text-light{
    opacity: 1;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.7;
}
.btn-dark{
    background: black;
    color: white;
    outline: 0;
    border-radius: 25px;
    padding: 0.7rem 1rem;
    border: 0;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 1rem;
    font-family: inherit;
}
.btn-dark:hover{
    background: var(--carribean-green);
}







/* Media Queries */
@media screen and (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-col-r-bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text-light{
        width: 100%;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
    .product-collection-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex{
        height: 60vh;
    }
    .product-col-left{
        height: 121.5vh;
    }
}