/* code inspiré par la source : liquor store master https://colorlib.com/preview/#liquorstore */

/* info ++ 
  @media -> associe un ensemble d'instructions imbriquées selon une condition
  le voir comme une sorte de if(condi) -> cet affichage
*/


/*--- body ---*/
body
{
  background-color: white;
}


/*--- Titre h3 ---*/
h3{
text-align: center;
margin-top: 0;
margin-bottom: 0.5rem;
color: rgba(251, 75, 31, 0.8);
font-size: 1.75rem;
line-height: 1.5;
font-weight: 400;}
